    /*RESET*/
    *{
        padding: 0; 
        margin: 0;
        box-sizing: border-box;
    }

    ul{
    list-style-type: none;
    }

    .top-header{
        height: 5rem;
        background-color: #ADD8E6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-header{
        height: 30rem;
        background-color: #00008B;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid #ADD8E6;
    }

    .navbar{
        height: 2.5rem;
        width: 65%;
        border: 3px dashed black;
        background-color: #DAA520;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Logo-size{
        width: 15%;
        padding-left: 0.5rem;
    }
    
    .login-size{
        width: 15%;
        padding-right: 0.5rem;
    }

    .login-left-flex{
        display: flex;
        justify-content: flex-end;
    }

    .ul-flex{
        display: flex;
    }

    .li-padding{
        padding: 0 0.5rem;
    }

    .jumbotron-first-section{
        height: 25rem;
        background-color: #EE82EE;
        border:3px dashed black ;
        width: 50%;
    }
    
    .bg-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-size{
        height: 35rem;
    }

    .main-bg-color-first-section{
        background-color: #FFFFFF;
    }

    .main-bg-color-second-section{
        background-color: #D3D3D3;
    }

    .main-bg-color-third-section{
        background-color: #FFFFFF;
    }

    .main-container{
        height: 85%;
        width: 65%;
        border: 3px dashed black;
        display: flex;
    }

    .blue-box{
        width: 60%;
        height: 100%;
        background-color: #1E90FF;
    }

    .pink-box{
        width: 40%;
        height: 100%;
        background-color: #FFC0CB;
    }

    .orange-box{
        width: 30%;
        height: 100%;
        background-color: #F08080;
    }

    .bluetea-box{
        width: calc(70% / 4) ;
        height: 100%;
        background-color: #20B2AA;
    }

    .border{
        border:3px dashed black ;
    }

    .border-white{
        border:2px dashed white;
    }

    .border-right{
        border-right: 3px dashed black;
    }

    .border-left{
        border-left: 3px dashed black;
    }

    .main-bg-bottom-size{
        height: 50rem;
        background-color: #D3D3D3;
    }

    .container-bottom-size{
        height: 85%;
        width: 65%;
    }

    .main-bg-color-fourth-section{
        background-color: #228B22;
    }       

    .footer-bg-color{
        background-color: #23272A;
    }

    .bg-footer-display{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #D4D4D5;
    }

    .footer-main-container{
        margin-top: 1rem;
        border:3px dashed black ;
    }

    .footer-bottom{
        height: 5rem;
        background-color: #23272A;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .footer-bar{
    height: 3rem;
    width: 65%;
    background-color: #7FFFD4;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

   .footer-item-bar{
    width: fit-content;
    background-color: #FFB6C1;
    padding: 0.1rem 0.5rem;
   }